body {
    margin: 0 auto;
    padding: 1em;
    max-width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      
}

a {
    color: #444;
}

ul {
    list-style: none;
    padding: 0;
}


.main-heading {
    line-height: 0.8em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
}

.button {
    display: inline-block;
    padding: 5px;
    background: #f6f6f6;
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
}


.groups {
    font-size: 0.85em;
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
}

.groups dt {
    padding-top: 0.5em;
}

.groups ul {
    padding-left: 1em;
    list-style: disc;
}

ul.general-public {
    position: relative;
    font-size: 0.85em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
    display: flex;
    padding: 0.5em 0;
}

.general-public-item {
    padding-right: 1.5em;
}

.supermarket {
    background-color: #f6f6f6;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
}

.logo {
    margin: 0 auto;
    display: inline-block;
    max-height: 50px;
}

.StayHome .logo {
    max-height: 200px;
}

.StayHome .header {
    background-color: #000000;
    padding: 0 1.5em;
}

.supermarket-name {
    display: inline-block;
    margin: 0;
    height: 40px;
}

.small {
    font-size: 0.8em;
}

.notes {
    color: #444;
}

/* Helpers */
.sr
{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    }