body {
    margin: 0 auto;
    padding: 1em;
    max-width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      
}

.header {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

.groups {
    font-size: 0.85em;
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
}

.supermarket {
    background-color: #f6f6f6;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
}

.logo {
    float: left;
    display: inline-block;
}

.supermarket-name {
    display: inline-block;
    margin: 0;
    height: 40px;
}

.small {
    font-size: 0.8em;
}

.notes {
    color: #444;
}

/* Helpers */
.sr
{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    }